@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
}


:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-overlay-rounded: 16px;
}