@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
}


:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-overlay-rounded: 16px;
}

::-webkit-scrollbar {
  width: 6px; 
  margin-left: 8px;
  background-color: #FEF3C7;
  height: 42px;
  border-radius: 5px
}

::-webkit-scrollbar-thumb {
  background-color: #FBBF24; 
  border-radius: 5px; 
}
