@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
}


:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-overlay-rounded: 16px;
}

::-webkit-scrollbar {
  width: 8px; 
  margin-left: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

::-webkit-scrollbar-thumb:active {
  background-color: #333; 
}